<mat-card>
  <mat-card-header>
    <mat-card-title>Menu Options</mat-card-title>
    <mat-card-subtitle>Select the required feature</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="demo-button-container">
      <button mat-raised-button (click)="navigateProcessSummary()" class="demo-button" >
        Process Summary
      </button>
      <button mat-raised-button (click)="navigateChangeRequestSummary()" class="demo-button" >
        Change Request Summary
      </button>    
    </div>    
  </mat-card-content>
  <mat-card-actions align="end">  
  </mat-card-actions>
</mat-card>